.gitattributes
Apps/
AudioFX/
BasicSmsReceiver/
Bluetooth/
BluetoothExt/
Browser/
CMBugReport/
CMFileManager/
CMUpdater/
CMWallpapers/
Calendar/
Camera2/
CarrierConfig/
CellBroadcastReceiver/
CertInstaller/
Contacts/
ContactsCommon/
DeskClock/
Dialer/
Eleven/
Email/
ExactCalculator/
Exchange/
FMRadio/
Gallery2/
HTMLViewer/
InCallUI/
KeyChain/
LockClock/
ManagedProvisioning/
Messaging/
Nfc/
OneTimeInitializer/
PackageInstaller/
PhoneCommon/
Profiles/
Provision/
SamsungServiceMode/
Screencast/
Settings/
SetupWizard/
Snap/
SoundRecorder/
SpeechRecorder/
Stk/
Tag/
Terminal/
ThemeChooser/
Trebuchet/
TvSettings/
UnifiedEmail/
